
<form class="form-horizontal" role="form" name="myForm" ng-show="!voted">
    <div class="form-group" ng-class="{'has-error': myForm.name.$invalid && !myForm.name.$pristine, 'has-success' : !myForm.name.$invalid && !myForm.name.$pristine}">
        <label class="col-sm-2 control-label">Prénom</label>
        <div class="col-sm-10">
            <input type="text" name="name" ng-model="vote.name" required class="form-control" />
            <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-block">
                Champs obligatoire
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': myForm.comment.$invalid && !myForm.comment.$pristine}">
        <label class="col-sm-2 control-label">Commentaire</label>
        <div class="col-sm-10">
            <textarea name="comment" class="form-control" ng-model="vote.comment" required placeholder="Soutenez Martinho en lui addressant un petit message."></textarea>
            <span ng-show="myForm.comment.$error.required && !myForm.comment.$pristine" class="help-block">
                Champs Obligatoire
            </span>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</form>
<div class="alert alert-success" ng-show="voted">
    Votre message a bien été pris en compte. Merci de votre soutien!
</div>

<h3>Liste des soutiens de Martinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">Prénom</div>
            <div class="col-sm-9">Message</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="vote in votes">
            <div class="col-sm-3">{{vote.name}}</div>
            <div class="col-sm-9">{{vote.comment}}</div>
        </div>
    </div>
    <div class="panel-footer">Merci à vous !</div>
</div>